/*===========
---CONTENT---
===========*/

// Banner Section

// Hiding Block Titles Just in Case
#block-bean-banner, .block-bean {
	h2 {
		display:none;
	}
}

// Hiding Banner Text on Not Front pages
.not-front .banner {
	.banner-overlay {
		display:none;
	}
}

.front .banner {

	@media screen and (max-width: $break-tablet) {
		margin-top:117px;
	}
}


.banner {
	position:relative;
	width:100%;
	//height:400px;
	//overflow:hidden;

	.banner-image {

		img {
			width:100%;
			height:auto;
			display:block;
		}
	}

	.banner-overlay {
		width:100%;

		&:after {
			content:"";
			position: absolute;
		    left: 0;
		    top: 0;
		    height: 100%;
		    width: 100%;
		    background: -moz-linear-gradient(top,transparent 0%,rgba(0,0,0,0.4) 100%);
		    background: -webkit-linear-gradient(top,transparent 0%,rgba(0,0,0,0.4) 100%);
		    background: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,0.4) 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#4d000000',GradientType=0);
		    z-index: 0;
		}

		.banner-text {
			position:absolute;
			bottom:10px;
			left:50%;
			max-width:1280px;
			width:100%;
			z-index:9;
			-moz-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			margin:0 auto;
			padding:0 15px;
			color:$white;
			font-family:$headline-font;
			font-size:54px;
			text-shadow: 0px 0px 25px #666;

			@media screen and (max-width: $break-desktop) {
			    font-size:50px;
			}

			@media screen and (max-width: $break-tablet) {
			    font-size:36px;
			}

			@media screen and (max-width: $break-mobile-portrait) {
				font-size:28px;
			}
		}
	}
}

// General Styling in Main Content Area


.front .main {
	max-width:100%;
	width:100%;
	padding:0;
	margin:0;
}

// Not Front Main Styling
.not-front .main {
	.page-title {
		padding-bottom:15px;
	}
}

// Margin Top for Banner 
.front.no-banner .main {
	margin:143px auto 0;

	@media screen and (max-width: $break-desktop) {
		margin:117px auto 0;
	}
}

.front.logged-in.no-banner .main {
	margin:172px auto 0 !important;
}

.main {
	max-width:1280px;
	width:100%;
	margin:0 auto;
	padding:30px 15px;
	@include clearfix;

	.page-title {
		max-width:1280px;
		width:100%;
		z-index:99;
		margin:0 auto;
		font-family:$headline-font;
		font-size:56px;
		color:$lehigh-brown;
		line-height:120%;
		// text-shadow: 0px 0px 25px #666;

		@media screen and (max-width: $break-tablet) {
		    font-size:36px;
		}
		
	}
}



// Left Navigation
.left-nav {
	float:left;
	width:250px;
	//padding: 15px;
	background: $light-gray;
	border-top: 5px solid $accent-color;
	border-radius:3px;
	position:relative;

	*.active-trail {
		color:$accent-color;
	}

	&.show {
		> ul {
			max-height:999px !important;

			@media screen and (max-width: $break-desktop) {
				padding:15px;
				border-top:1px solid #e6e6e6;
			}
		}

		h2 {
			background:$accent-color;
			color:$white;

			
			// &:after {
			//   -webkit-transform: scaleY(1);
			//   transform: scaleY(1);
			// }

			&:before {
				transform:rotate(180deg);
				color:$white;
			}
		}
	}

	@media screen and (max-width: $break-desktop) {
	    width:100%;
	    margin-bottom:30px;
	}

	.this-section {
		border: none;
		border-radius: 0px;
		background: none;
		font: inherit;
		padding:0;
		margin:0;
		width:100%;
		text-align:left;
		display:none;

		@media screen and (max-width: $break-desktop) {
			cursor:pointer;
			display:block;
		}
	}

	h2 {
		font-family:$body-font;
		font-size:18px;
		text-transform:uppercase;
		font-weight: 500;
		padding: 15px;
		color:$accent-color;
		// border-bottom:1px solid $accent-color;
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px transparent;
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		width:100%;

		&:before {
			content:"\f078";
			font-family:FontAwesome;
			margin-right: 10px;
			font-weight: 300;
			transform:rotate(0deg);
			transform-origin: center;
			@include transition;
			color:$off-brown;
			display:none;

		}

		// &:after {
		//   content: "";
		//   position: absolute;
		//   z-index: -1;
		//   top: 0;
		//   left: 0;
		//   right: 0;
		//   bottom: 0;
		//   background: $accent-color;
		//   -webkit-transform: scaleY(0);
		//   transform: scaleY(0);
		//   -webkit-transform-origin: 50% 0;
		//   transform-origin: 50% 0;
		//   -webkit-transition-property: transform;
		//   transition-property: transform;
		//   -webkit-transition-duration: 0.3s;
		//   transition-duration: 0.3s;
		//   transition-timing-function: ease-out;
		// }

		@media screen and (max-width: $break-desktop) {
			cursor:pointer;
			color:$lehigh-brown;

			&:before {
				display:inline-block;
			}
		}

		@media screen and (max-width: $break-mobile-portrait) {
			font-size:14px;
		}
	}

	> ul {
		padding: 15px;
		box-shadow: 0 2px 20px 1px rgba(150,150,150,0.1), 0 4px 6px 2px rgba(150,150,150,0.12);

		@media screen and (max-width: $break-desktop) {
			max-height:0;
			padding:0 15px;
			overflow:hidden;
			@include transition;
			position:absolute;
			background:$light-gray;
			width:100%;
			box-shadow: 0 2px 20px rgba(0,0,0,0.1), 0 4px 6px rgba(0,0,0,0.12);
			z-index:5;
			border-bottom-left-radius:5px;
			border-bottom-right-radius:5px;
		}
		
		> li {
			position:relative;

			// Class added to li from + being clicked 
			&.active,
			&.active-trail {
				> ul {
					max-height:999px;
					padding: 5px 0 5px 20px;
				}

				> .menu-expand {
					&:before {
						-moz-transform: rotate(135deg);
						-webkit-transform: rotate(135deg);
						-o-transform: rotate(135deg);
						-ms-transform: rotate(135deg);
						transform: rotate(135deg);
					}
				}

				> a {
					// font-weight:700;
				}
			}

			&.expanded {
				> a {
					padding-left:35px;
				}
			}

			.menu-expand {
				position: absolute;
				top: 0;
				left:-1px;
				padding: 10px 8px;
				color: $accent-color;
				z-index:35;
				cursor:pointer;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;


				&:before {
					content:"\f067";
					font-family:FontAwesome;
					font-size:20px;
					@include transition;
					display: block;
					transform-origin: center center;
					transform:rotate(0deg);
					-webkit-transform:rotate(0deg);
					-moz-transform:rotate(0deg);
					-o-transform:rotate(0deg);


				}

				// &:hover {
				// 	background:$light-gray;
				// }
			}

			> a {
				font-weight:500;
				color:$lehigh-brown;
				display:block;
				padding:10px 0;
				font-size:16px;
				@include accent-hover;

				&.active-trail {
					color:$accent-color;
				}
			}

			> ul {
				padding-left:20px;
				border-left:1px solid $accent-color;
				max-height: 0;
				margin-left: 15px;
				@include transition;
				overflow:hidden;

				> li {
					position:relative;
					> a {
						font-weight:400;
						color:$lehigh-brown;
						display:block;
						padding:10px 0;
						font-size:16px;
						@include accent-hover;
					}

					&.active,
					&.active-trail {
						> ul {
							max-height:999px;
						}

						> .menu-expand {
							&:before {
								-moz-transform: rotate(45deg);
								-webkit-transform: rotate(45deg);
								-o-transform: rotate(45deg);
								-ms-transform: rotate(45deg);
								transform: rotate(45deg);
							}
						}

						> a {
							font-weight:700;
						}
					}

					&.expanded {
						> a {
							padding-left:35px;
						}
					}

					> ul {
						padding-left:20px;
						border-left:1px solid $accent-color;
						max-height: 0;
						//background:$white;
						@include transition;
						overflow:hidden;
						margin-left:15px;
						//visibility: hidden;

						> li {
							> a {
								font-weight:400;
								color:$lehigh-brown;
								display:block;
								padding:10px 0;
								font-size:16px;
								@include accent-hover;
							}

							&.active {

								> ul {
									max-height:999px;
								}

								> .menu-expand {
									&:before {
										-webkit-transform:rotate(45deg);
									    transform:rotate(45deg);
									}
								}

								> a {
									font-weight:700;
								}
							}
						}
					}
				}
			}
		}
	}
}

.front .main-content .content-wrapper {
	max-width:100%;
	width:100%;
	margin:0;
	padding:0;
}

// Main Content
.main-content {
	@include clearfix;

	.content-wrapper {
		width:100%;
		max-width:780px;
	}
}

// When Right Sidebar is Present
body.one-sidebar .main-content {
	float: left;
    width: calc(100% - 250px);

    @media screen and (max-width: $break-desktop) {
    	padding-right:30px;
	}

    .content-wrapper {
    	padding: 0 45px;
		float: left;
	    width: calc(100% - 250px);

	    @media screen and (max-width: $break-desktop) {
	    	width:100%;
	        padding:0;
	    }

	    @media screen and (max-width: $break-tablet) {
	        width:100%;
	        padding:0;
	    }
    }

	@media screen and (max-width: $break-tablet) {
	    width:100%;
	    padding:0;
	}
}

// When Right Sidebar is Not Present
body.no-sidebars .main-content {
	float: left;
    width: 100%;
	//max-width:780px;

    .left-nav + .content-wrapper {
    	padding: 0 45px;
		float: left;
	    width: calc(100% - 250px);
	    max-width:780px;

	    @media screen and (max-width: $break-desktop) {
	        width:100%;
	        padding:0;
	    }
    }

    .content-wrapper {
    	width:100%;
    	padding:0;
    }

	@media screen and (max-width: $break-tablet) {
	    width:100%;
	    padding:0;
	}
}

// Right Sidebar and Block Stylings
.sidebar {
	float:left;
	width:250px;

	@media screen and (max-width: $break-mobile-landscape) {
	    width:100%;
	}

	.block {
		padding:15px;
		background:$light-gray;
		border-top:5px solid $accent-color;
		border-radius:3px;
		font-size:14px !important;

		&:not(:last-child) {
			margin-bottom:20px;
		}

		h2 {
			font-family:$headline-font;
			font-size: 24px;
			font-weight: 500;
			//text-transform:uppercase;
			padding-bottom:15px;
			padding-top:5px;
			// border-bottom:1px solid $accent-color;
			// margin-bottom:10px;
		}

		p {
			line-height:150%;
		}

		a {
			color:$drupal-blue;
			@include accent-hover;
		}

		.content {
			.views-row {
				padding-bottom:15px;

				a {
					font-weight:500;
					display:block;
					padding-bottom:5px;
				}
			}
		}
	}
}

// WMS Events

// Events Page
.view-wms-events {
	.views-row {
		padding:20px 0;
		width:100%;

		&:not(:last-child) {
			border-bottom:1px solid $gray;
		}

		.views-field-title {
			padding:10px 0;
			font-family:$headline-font;

			a {
				font-size:24px;
			}
		}

		.views-field-field-ec-event-date {
			font-size:1px;
			 color:$slate-gray;
		}

		.views-field-field-ec-summary {
			line-height: 130%;
		}
	}

	.item-list {

		ul.pager {
			@include clearfix;
			padding:20px 0 0;
			
			li {
				float:left;
				margin:0;
				padding:0;
				margin-left:-1px;

				a {
					display: inline-block;
					padding: 15px;
					border:1px solid $gray;
					background:$white;

					&:hover {
						background:$light-gray;
					}
				}

				&.pager-current {
					background:$accent-color;
					color:$white;
					border:1px solid $gray;
					padding:15px;
				}
			}
		}
	}
}

// WMS News

// News Page
.page-news {
	.view-wms-news {
		.views-row {
			padding:20px 0;
			width:100%;

			&:not(:last-child) {
				border-bottom:1px solid $gray;
			}

			.views-field-title {
				padding:10px 0;

				a {
					color:$accent-color;
					font-size:24px;
				}
			}

			.views-field-field-ec-event-date {
				font-size:14px;
				 color:$slate-gray;
			}

			.views-field-field-ec-summary {
				line-height: 130%;
			}
		}
	}
}

// Node Page
.node-type-wms-news {
	

	.field-name-field-wms-article-date {

	}
	.field-name-field-wms-featured-image {
		margin:15px 0;
	}
}


