/*
========================
EMERGENCY BANNER STYLING
========================
*/

/*  University Communications alert message banner code (e2campus) */
 #emergencyalert {}
 #emergencyalert .SmartBoard_Table {background-color:#9A0000; color:#FFFFFF; font-color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; width:100%;}
 #emergencyalert .SmartBoard_Row {font-family: Helvetica, Arial, sans-serif; text-align:center;}
 #emergencyalert .SmartBoard_Subject {color:#ffffff; font-size: 16px; font-weight: bold;padding-top:2px;}
 #emergencyalert .SmartBoard_DateTime {display:none;}
 #emergencyalert td.SmartBoard_Message {color:#ffffff; font-family: Helvetica, Arial, sans-serif; font-weight: normal;  font-size: 14px;padding-bottom:2px;}
 /*  / University Communications alert message banner code (e2campus) */
